{{ "<!-- Header -->" | safeHTML }}
  <section class="tiles-small">
    {{ if  gt ( .Sections) 0 }}
      {{ range (.Sections.ByParam "order") }}
        <article>
          <span class="image">
            <img src="{{ .Site.BaseURL }}/img/{{ .Params.Picture }}" alt="" />
          </span>
          <header class="major">
              <h3><a href="{{ .URL }}" class="link">{{ .Title }}</a></h3>
          </header>
        </article>
      {{ end }}
    {{ else }}
      {{ range .Pages }}
        <article>
            <header class="major">
                <h3><a href="{{ .URL }}" class="link">{{ .Title }}</a></h3>
            </header>
        </article>
      {{ end }}
    {{ end }}
  </section>
